{% extends "layout.html" %}

{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "NHS services"
      },
      {
        href: "#",
        text: "Online services"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Get a test for magical powers</h1>
      <p>Use this service to check what are your magical powers.</p>
     
      <p>You might not know them yet but be ready for revelations that can change your life  </p>

    
      <h2 class="nhsuk-heading-l"> Who can use this service</h2>
      <p>You can use this service if you have already noticed some of the symptoms.</p>
      <p>You can also use this service for someone else.</p>

      {% from "details/macro.njk" import details %}

{% call details({
  summary: "Check the list of symptoms",
  classes: "nhsuk-expander"
}) %}
  <p>Magical powers symptoms:</p>
  <ul>
    <li>Telepathy 
    <li> Being invisible
    <li> Lucid dreams
    </li>
  </ul>
{% endcall %}


      <h2 class="nhsuk-heading-l">Before you start</h2>
      <p>You will need your:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Symptoms</li>
        <li>contact details</li>
        </li>
      </ul>

      

      {% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Before testing",
  text: "Stay away from opioids, alcohol, strong drugs or chewing gums."
}) }}


      {{ button({
        text: "Start now",
        href: "/symptoms"
      }) }}

    

    </div>
  </div>
{% endblock %}
